body{
    font-family: 'Rubik', sans-serif;
    background-color: hsl(270, 20%, 96%);
    margin: 0%;
    margin-right: 10px;
    padding: 0%;
    box-sizing: border-box;
    overflow-x: hidden;

}
.container{
    display: flex;
    justify-content: start;
}
.phone{
    background-color: white;
    width:386px;
    height:832px;
    scale: 70%;
    border-radius:35px;
    border:15px solid white;
    margin-left: 200px;

}
.notch{
    background-image:linear-gradient(hsl(264, 100%, 61%),hsl(293, 100%, 63%)) ;
    width:380px;
    height:130px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    z-index: 3;
    margin-left: 3px;
}
.white-notch{
    background-color: white;
    width:200px;
    height:35px;
    z-index: 2;
    border-bottom-right-radius:20px;
    border-bottom-left-radius:20px ;
    
    border-top-right-radius:4px;
    border-top-left-radius:4px;
    position: absolute;
    top:-2px;
    left:90px
}
.back{
    width:15px;
    height: 20px;
    position: absolute;
    top:80px;
    left:20px
}
 .profile{
    width:40px;
    position: absolute;
    top:68px;
    left:50px;
    border-radius: 50%;
    border: 2px solid white;
 }
 .name{
    position: absolute;
    top:53px;
    left:110px;
    font-weight: 500;
    color: white;
    font-size: 20px;
 }
 .work{
    position: absolute;
    top:80px;
    left:112px;
    font-size: 11px;
    color:hsl(206, 6%, 79%);
    opacity: .8;
 }
 .menu{
    position: absolute;
    top:80px;
    left:330px;
    width:20px;
 }
 .menu:hover{
    cursor: pointer;
 }
 .background{
    width:380px;
    height:700px;
    background-color:hsl(270, 10%, 88%);
    position: absolute;
    left:3px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
 }
 .bubble1{
    width:230px;
    height:50px;
    background-color:hsl(270, 20%, 96%) ;
    position: absolute;
    top:150px;
    left:30px;
    border-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:5px ;
 }
.sounds{
    
        font-size: 13px;
        background: -webkit-linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left:20px;
        top:-3px;
}
.bubble2{
    width:230px;
    height:50px;
    background-color:hsl(270, 20%, 96%) ;
    position: absolute;
    top:210px;
    left:30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:5px ;

 }
.send{
        background: -webkit-linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        position: absolute;
        left:20px;
        top:-3px;
        font-size: 13px;
}
.photo{
    position: absolute;
    left:190px;
    top:280px
}
.dog{
    width:50px;
    border: 1px solid hsl(270, 20%, 96%);
    border-radius: 15px;
}
.bubble4{
    width:180px;
    height:40px;
    background-color:white ;
    position: absolute;
    top:410px;
    left:180px;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:5px ;
 }
 .bubble3{
    width:230px;
    height:50px;
    background-color:white ;
    position: absolute;
    top:350px;
    left:130px;
    border-top-right-radius: 20px;
    border-top-left-radius:20px ;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius:5px ;
 }
 .few{
    position: absolute;
    left:20px;
    top:-3px;
    font-size: 13px;
    color:hsl(270, 1%, 53%);
 }
 .make{
    position: absolute;
    left:20px;
    top:0px;
    font-size: 13px;
    color:hsl(270, 1%, 53%);
 }
 .bubble5{
    width:200px;
    height:70px;
    background-color:hsl(270, 20%, 96%) ;
    position: absolute;
    top:470px;
    left:30px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:5px ;

 }
 .happy{
    background: -webkit-linear-gradient(hsl(293, 100%, 63%), hsl(264, 100%, 61%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 13px;
    position: absolute;
    left:10px;
 }
 .walk1{
    position: absolute;
    width:300px;
    height:70px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:5px ;
    left:20px;
    top:550px;
    background-image:linear-gradient(hsl(264, 100%, 61%),hsl(293, 100%, 63%)) ;
 }
.circle{
    width:30px;
    position: absolute;
    top:20px;
    left:20px;
}
.minute30{
    position: absolute;
    left:60px;
    top:10px;
    color: white;
}
.dollar29{
    position: absolute;
    left:150px;
    font-size: 30px;
    top:-8px;
    font-weight: 700;
}
.walk2{
    position: absolute;
    width:300px;
    height:70px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border-bottom-left-radius:5px ;
    left:20px;
    top:640px;
    background-image:linear-gradient(hsl(264, 100%, 61%),hsl(293, 100%, 63%)) ;
 }
.circle1{
    width:30px;
    position: absolute;
    top:20px;
    left:20px;
}
.minute1{
    position: absolute;
    left:60px;
    top:10px;
    color: white;
}
.dollar49{
    position: absolute;
    left:150px;
    font-size: 30px;
    top:-8px;
    font-weight: 700;
}
.box-msg{
    position: absolute;
    left:25px;
    top:750px;
    width:330px;
    height:60px;
    background-color:white;
    border-radius: 30px;
    border:none;
    color:black;
}
.type{
    position: absolute;
    top:5px;
    left:40px;
    color:hsl(206, 6%, 79%);
    opacity: .9;
}
.done{
    width:50px;
    height:55px;
    border-radius: 50%;
    background-color:hsl(271, 36%, 24%) ;
    position: absolute;
    left:275px;
    top:2px;
}
.sendicon{
    position: absolute;
    width:25px;
    top:15px;
    left: 13px;
    rotate: 180deg;
}
.sendicon:hover{
    cursor: pointer;

}
.back:hover{
    cursor: pointer;
}
.main-background{
    width:1000px;
    height:1200px;
    background-image: linear-gradient(hsl(264, 100%, 61%),hsl(293, 100%, 63%));
    position: absolute;
    left:-510px;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 80%;
    top:-310px;
    z-index: -10;

}
h1{
    position: absolute;
    right:100px;
    font-size: 50px;
    color: hsl(271, 36%, 24%);
    text-align: left;
}
.texts{
    position: absolute;
    left:100px;
    top:-700px;
    width: 900px;

    height:200px;
    color:hsl(270, 7%, 64%);
}
.text1{
    position: absolute;
    top:100px;
    left:300px;
    font-size:28px;
    text-align: center;
}

@media(max-width:1000px){
 
    .main-background{
    width:800px;
    height:1200px;
    }
    .phone{
        position:relative;
        left:-50px;
        top:10px
    }
    .texts{
        width:650px
    }
    .text1{
        font-size: 20px;
    }
    h1{
        font-size: 30px;
        position: absolute;
        right:50px
    }

}


@media(max-width:750px){
    body{
        overflow-x: hidden;
    }
    .container{
        flex-direction:row;
        scale:100%;
        overflow-x: hidden;
        margin-left: -180px;
        margin-bottom: 20px
    }
    h1{
        position: absolute;
        top:850px;
        left:-120px;
        font-size:50px
    }
    .text1{
        margin-top: 870px;
        margin-left:-480px;
        text-align:center;
        font-size: 18px;
    }


}